.join{
   &__container{
      row-gap: 3rem;
      padding-bottom: 3rem;
   }
   &__data{
      text-align: center;

      & .section__title{
         margin-bottom: 1rem;
      }
   }
   &__description{
      margin-bottom: 2rem;
   }
   &__form{
      display: grid;
      row-gap: 1rem;
   }
   &__input{
      width: 100%;
      background-color: var(--container-color);
      color: var(--text-color);
      padding: 1.5rem 1rem;
      border-radius: .5rem;
      transition: background-color .4s;
   }
   &__button{
      cursor: pointer;
      padding-block: 1.25rem;
   }
   &__img{
      width: 300px;
      border-radius: 1.5rem;
      justify-self: center;
   }
}
