::-webkit-scrollbar{
   width: .6rem;
   background-color: hsl(220, 6%, 80%);
   
   &-thumb{
      background-color: hsl(220, 6%, 60%);

      &:hover{
         background-color: hsl(220, 6%, 50%);
      }
   }
}

.scrollup{
   position: fixed;
   right: 1rem;
   bottom: -50%;
   background-color: var(--body-color);
   box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
   color: var(--title-color);
   display: inline-flex;
   padding: 6px;
   font-size: 1.25rem;
   border-radius: .25rem;
   z-index: var(--z-tooltip);
   transition: bottom .4s, transform .4s, background-color .4s;

   &:hover{
      transform: translateY(-.5rem);
   }
}

.show-scroll{
   bottom: 3rem;
}
