.testimonial{
   &__container{
      justify-content: center;
      gap: 0;
   }
   &__img{
      width: 300px;
      border-radius: 1.5rem 1.5rem 0 0;
   }
   &__swiper{
      max-width: 300px;
      background-color: var(--container-color);
      border-radius: 0 0 1.5rem 1.5rem;
      margin-inline: initial;
      transition: background-color .4s;
   }
   &__card{
      padding: 2.5rem 2rem 3rem 1.25rem;
   }
   &__title{
      font-size: var(--h2-font-size);
      color: var(--title-color);
      margin-bottom: .75rem;
   }
   &__description{
      margin-bottom: 1.5rem;
   }
   &__profile{
      display: flex;
      align-items: center;
      column-gap: .5rem;

      & img{
         width: 60px;
         border-radius: 50%;
      }
   }
   &__info{
      & h3{
         font-size: var(--normal-font-size);
         color: var(--title-color);
         margin-bottom: .25rem;
      }
      & p{
         font-size: var(--small-font-size);
      }
   }
}

.testimonial__swiper .swiper-button-prev::after,
.testimonial__swiper .swiper-button-next::after{
   content: '';
}

.testimonial__swiper :is(.swiper-button-prev, .swiper-button-next){
   color: var(--title-color);
   font-size: 1.5rem;
   top: initial;
   bottom: 1.25rem;
}

.testimonial__swiper .swiper-button-prev{
   left: initial;
   right: 3.5rem;
}

.testimonial__swiper .swiper-button-next{
   right: 1.25rem;
}
